body{
    background-color: gray;
    border: 25px;
    border-width: 30px;
    padding: 0;
    border-color: black;
    border-spacing: 50px;
}
header{
    padding: 50px;
    background-color: grey;
}
.navbar{
background-color: grey;
}
main{
    padding: 20px;
}
h1{
    position:sticky
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}

.header__containerFlex {
    display: flex;
    align-items: center;
}

.header__logo {
    max-width: 80px;
    display: block;
}

.header__logo__img,
.footer__logo__img {
    width: 100%;
    filter: invert();
}

.header__title{
    font-weight: 700;
    font-size: 2rem;
    margin: 0 .5em;
    text-align: center;
}

.header__containerLinks {
    display: flex;
    align-items: center;
}

.header__links {
    text-decoration: none;
    color: var(--white);
    position: relative;
    padding: 0 .3em;
    margin-left: .5em;
}



.header__icons,
.footer__icons{

    margin: 0 .3em;

}

